/* Estilos generales para el contenedor */
.container {
    height: 100vh;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Estilos para pantallas grandes (por ejemplo, > 768px) */
  @media (min-width: 769px) {
    .container {
      background-image: url('./image/imagen-registro.svg');
      background-size: 50%;
    }
  }
  